* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#snake-field{
	background: #fff;
}

#snake-start, #snake-renew{
	width: 150px;
	padding: 15px;
	color: white;
	background: green;
	text-align: center;
	cursor: pointer;
	float: left;
	margin: 10px;
}

.game-table{
	border-collapse: collapse;
	margin: 0 auto;
}

td.game-table-cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #ff0000;
    border-collapse: collapse;
}

.snake-unit{
	background: #2a71ff;
}

.food-unit{
	background: green;	
}

#score {
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
  background: #fff;
}

table {
	border-color: dimgray;
}

#buttons {
	display: flex;
	justify-content: center;
}